<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Python</title>
</head>

<body>
    <H1>
        Minha documentação/anotações em python
    </H1>
    <H2>Isso e apenas minhas anotações sobre meu estudo em python
        e suas variações para ter acesso em qualquer lugar.
        Ou caso eu esqueça algo
    </H2>

    <p>
    <h3>Python, Data Science, Machine Learning:</h3>


    O Python, uma linguagem de programação versátil e de fácil leitura, tem se destacado em diversas áreas da
    tecnologia, sendo um pilar fundamental em campos como Machine Learning, Data Science.

    <br>
    <br>

    <b>Python: A Linguagem Poderosa </b>

    <br>


    Python conquistou o coração de desenvolvedores devido à sua sintaxe limpa, legibilidade e vasta biblioteca padrão.
    Sua flexibilidade torna-o uma escolha ideal para projetos de todos os tamanhos, desde scripts simples até aplicações
    complexas.

    <br>
    <br>

    <b>Data Science: Descobrindo Padrões e Tendências</b>

    <br>

    Para analisar grandes conjuntos de dados e extrair insights valiosos, Python é uma ferramenta essencial em Data
    Science. Bibliotecas como Pandas, NumPy e Matplotlib facilitam a manipulação, visualização e análise de dados. A
    linguagem é um catalisador para a tomada de decisões informadas e a resolução de problemas complexos no mundo dos
    negócios e da pesquisa.

    <br>
    <br>

    <b>Machine Learning: Transformando Dados em Conhecimento</b>

    <br>

    Em Machine Learning, Python é uma escolha predominante. Frameworks populares como TensorFlow e PyTorch oferecem
    suporte robusto para construir modelos preditivos, redes neurais e algoritmos de aprendizado de máquina. A
    facilidade de implementação e a vasta comunidade de desenvolvedores contribuem para o sucesso crescente de Python
    neste campo inovador.


    <p>Tudo isso e baseado nas anotações do meu
        <a href="https://github.com/MarcosAredes/python" target="_blank">GitHub</a> apenas escrito em um site</param>

    </p>

    <hr>
    <br>
    
     <img width="900" height="600" src="{{ url_for('static', filename='img/mapamental.jpg') }}" alt="Example Image">

    <hr>
    <br>


    <div class="Links">

        <button>

            <a href="./Base_Python">
                <img width="50" height="50" src="https://img.icons8.com/3d-fluency/188/python.png" alt="Python" />
                <br>
                Python
            </a>
        </button>

        <Button>

            <a href="./Data_Science">
                <img width="50" height="50"
                    src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-data-science-media-agency-flaticons-lineal-color-flat-icons-2.png"
                    alt="external-data-science-media-agency-flaticons-lineal-color-flat-icons-2" />
                <br>
                Data Science
            </a>

        </Button>

        <button>

            <a href="./Machine_Learning">
                <img width="50" height="50" src="https://img.icons8.com/color/96/artificial-intelligence.png"
                    alt="Machine Learning" />
                <br>
                Machine Learning
            </a>

        </button>
    </div>

    <br>

    <hr>

    <h4><b>by M4SS</b></h4>
</body>

</html>