<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Machine learning</title>
</head>

<body>
    Hello
    <hr>


    <div class="Links">
        <button>
            <a href="/">
                <img width="50" height="50" src="https://img.icons8.com/fluency/48/000000/home.png" alt="home" />
                <br>
                Inicio
            </a>
        </button>

        <button>

            <a href="./Base_Python">
                <img width="50" height="50" src="https://img.icons8.com/3d-fluency/188/python.png" alt="Python" />
                <br>
                Python
            </a>



            <button>
                <a href="./Data_Science">
                    <img width="50" height="50"
                        src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-data-science-media-agency-flaticons-lineal-color-flat-icons-2.png"
                        alt="external-data-science-media-agency-flaticons-lineal-color-flat-icons-2" />
                    <br>
                    Data Science
                </a>
            </button>
    </div>

</body>

</html>